In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')

In [4]:
credits=pd.read_csv('tmdb_5000_credits.csv')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [9]:
movies=movies.merge(credits,on='title')

In [10]:
movies.shape

(4809, 23)

In [12]:
# we will now take some columns of movie to recommend
#genres
#id
#keywords
#title
#overview
#cast
#crew

In [13]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [21]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [20]:
movies.dropna(inplace=True)

In [22]:
movies.duplicated().sum()

0

In [26]:
import ast

In [24]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [29]:
movies['genres']=movies['genres'].apply(convert)

In [32]:
movies['keywords']=movies['keywords'].apply(convert)

In [35]:
def convert3(obj):
    L = []
    count=0;
    for i in ast.literal_eval(obj):
        if count!=5:
            L.append(i['name'])
            count=count+1
        else:
            break
    return L

In [48]:
import ast
def fetch_director(obj):
    L = []
    c = 0
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director' or i['job'] == 'Writer':
            L.append(i['name'])
            c += 1
        if c == 2:
            break
    return L

In [50]:
movies['crew']=movies['crew'].apply(fetch_director)

In [53]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [57]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [59]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [61]:
new_df=movies[['movie_id','title','tags']]

In [64]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

/var/folders/mx/0nd8_xv51fs50b6lf710wgcr0000gn/T/ipykernel_52480/487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [67]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [66]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

/var/folders/mx/0nd8_xv51fs50b6lf710wgcr0000gn/T/ipykernel_52480/4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [97]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [98]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [99]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [100]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [90]:
import nltk

In [91]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [92]:
def stem(text):
    y = []
    for i in text.split():
        y.append (ps.stem(i))
    return " ".join(y)

In [96]:
new_df['tags']=new_df['tags'].apply(stem)

/var/folders/mx/0nd8_xv51fs50b6lf710wgcr0000gn/T/ipykernel_52480/3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [94]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez jamescameron jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez jamescameron jamescameron'

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

In [104]:
similarity=cosine_similarity(vectors)

In [105]:
similarity.shape

(4806, 4806)

In [106]:
similarity[0]

array([1.        , 0.07702442, 0.08282364, ..., 0.04417261, 0.        ,
       0.        ])

In [113]:
def recommend (movie):
    movie_index = new_df[new_df[ 'title'] == movie]. index[0]
    distances = similarity[movie_index]
    movies_list = sorted (list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [119]:
recommend('Titanic')

The Notebook
Under the Same Moon
Ghost Ship
The Bounty
Pirates of the Caribbean: On Stranger Tides

In [120]:
import pickle

In [121]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [123]:
pickle.dump (new_df.to_dict(),open('movie_dict.pkl', 'wb'))

In [124]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))